body {
   background: #CCCCCC
}

#vidro {
    width: 100%;
}

#vidro2 {
    width: 100%;
  
}
  
  
  h1 {
       text-align: center;
  }
  
    p {
       text-align: center;
  }

  #materiais {  
     color:blue;
 
   }
 
